Repository l-mb/claude-code-redaction-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, basedpyright, secrets-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: [.]

      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        types: [python]
        pass_filenames: true

      - id: secrets-check
        name: check for secrets
        entry: uv run redact check --rules .redaction_rules.git-hooks -q
        language: system
        types: [text]
        exclude: (^tests/|\.example$|\.git-hooks$)

Split some functions to reduce complexity
  pyproject.toml
  src/redaction_hooks/cli.py
  uv.lock
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Subcommand to validate configuration file
  .redaction_rules.example
  CLAUDE.md
  README.md
  src/redaction_hooks/cli.py
  src/redaction_hooks/config.py
  tests/test_config.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

PostToolUse hook implemented
  README.md
  src/redaction_hooks/cli.py
  src/redaction_hooks/hooks.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Allow blocking of patterns in specific tools
  .redaction_rules.example
  CLAUDE.md
  README.md
  src/redaction_hooks/config.py
  src/redaction_hooks/hooks.py
  src/redaction_hooks/matcher.py
  src/redaction_hooks/models.py
  tests/test_hooks.py
  tests/test_matcher.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Add path-based rules with warn and block actions
  .redaction_rules.example
  src/redaction_hooks/actions.py
  src/redaction_hooks/config.py
  src/redaction_hooks/hooks.py
  src/redaction_hooks/matcher.py
  src/redaction_hooks/models.py
  src/redaction_hooks/path_matcher.py
  tests/test_config.py
  tests/test_hooks.py
  tests/test_path_matcher.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Add file_content_pattern rules for scanning file contents
  .redaction_rules.example
  pyproject.toml
  src/redaction_hooks/config.py
  src/redaction_hooks/hooks.py
  src/redaction_hooks/models.py
  tests/test_config.py
  tests/test_hooks.py
  uv.lock
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

PostToolUse redacts tool output via updatedToolOutput
  src/redaction_hooks/hooks.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Make mapping store concurrency-safe and atomic
  src/redaction_hooks/mappings.py
  tests/test_mappings.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Add structured audit log for hook decisions
  src/redaction_hooks/audit.py
  src/redaction_hooks/cli.py
  src/redaction_hooks/hooks.py
  tests/test_audit.py
  tests/test_cli.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Harden file_content path handling against bypass
  src/redaction_hooks/hooks.py
  src/redaction_hooks/path_matcher.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

claude-setup merges (no longer overwrites) and gains --dry-run/--uninstall
  CLAUDE.md
  src/redaction_hooks/cli.py
  tests/test_cli.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Add PreCompact hook to scan transcripts before context summarization
  CLAUDE.md
  src/redaction_hooks/cli.py
  src/redaction_hooks/hooks.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Update README to match current CLI and feature set
  README.md
Due: secrets-check

Reject file_content_pattern with action: redact (silent no-op)
  src/redaction_hooks/config.py
  src/redaction_hooks/models.py
  tests/test_config.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Bound regex execution to a timeout to prevent ReDoS hangs
  src/redaction_hooks/hooks.py
  src/redaction_hooks/matcher.py
  tests/test_matcher.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Add redact audit prune to bound the audit log size
  CLAUDE.md
  README.md
  src/redaction_hooks/audit.py
  src/redaction_hooks/cli.py
  tests/test_audit.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Wire up Claude Code 2.1.x hook surface; bump 0.2.0
  CLAUDE.md
  README.md
  pyproject.toml
  src/redaction_hooks/audit.py
  src/redaction_hooks/cli.py
  src/redaction_hooks/hooks.py
  tests/test_audit.py
  tests/test_cli.py
  tests/test_hooks.py
  uv.lock
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Fix PostToolUseFailure key + Read tool nested shape
  src/redaction_hooks/hooks.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Schema-drift defenses + verify-cc-schema harness
  README.md
  src/redaction_hooks/cli.py
  src/redaction_hooks/hooks.py
  src/redaction_hooks/verify_schema.py
  tests/fixtures/cc-payloads/PostToolUse-Bash.json
  tests/fixtures/cc-payloads/PostToolUse-REPL.json
  tests/fixtures/cc-payloads/PostToolUse-Read.json
  tests/fixtures/cc-payloads/PostToolUseFailure-Bash.json
  tests/fixtures/cc-payloads/PreToolUse-Bash.json
  tests/fixtures/cc-payloads/PreToolUse-Read.json
  tests/test_extractor_fixtures.py
  tests/test_hooks.py
  tests/test_verify_schema.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Verify-cc-schema follow-up: real-shape extractors + classifier polish
  README.md
  src/redaction_hooks/hooks.py
  src/redaction_hooks/verify_schema.py
  tests/fixtures/cc-payloads/InstructionsLoaded.json
  tests/fixtures/cc-payloads/PostToolUse-Agent.json
  tests/fixtures/cc-payloads/PostToolUse-Grep.json
  tests/fixtures/cc-payloads/PreToolUse-Agent.json
  tests/fixtures/cc-payloads/PreToolUse-Grep.json
  tests/fixtures/cc-payloads/Stop.json
  tests/fixtures/cc-payloads/SubagentStop.json
  tests/fixtures/cc-payloads/UserPromptSubmit.json
  tests/test_extractor_fixtures.py
  tests/test_hooks.py
  tests/test_verify_schema.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Update/create hook baselines
  .gitignore
  src/redaction_hooks/verify_schema.py
  tests/fixtures/cc-payloads/InstructionsLoaded.json
  tests/fixtures/cc-payloads/PostToolUse-Agent.json
  tests/fixtures/cc-payloads/PostToolUse-Bash.json
  tests/fixtures/cc-payloads/PostToolUse-Edit.json
  tests/fixtures/cc-payloads/PostToolUse-Glob.json
  tests/fixtures/cc-payloads/PostToolUse-Read.json
  tests/fixtures/cc-payloads/PostToolUse-ToolSearch.json
  tests/fixtures/cc-payloads/PostToolUse-Write.json
  tests/fixtures/cc-payloads/PostToolUseFailure-Bash.json
  tests/fixtures/cc-payloads/PreToolUse-Bash.json
  tests/fixtures/cc-payloads/PreToolUse-Edit.json
  tests/fixtures/cc-payloads/PreToolUse-Glob.json
  tests/fixtures/cc-payloads/PreToolUse-Grep.json
  tests/fixtures/cc-payloads/PreToolUse-Read.json
  tests/fixtures/cc-payloads/PreToolUse-ToolSearch.json
  tests/fixtures/cc-payloads/PreToolUse-Write.json
  tests/fixtures/cc-payloads/Stop.json
  tests/fixtures/cc-payloads/SubagentStop.json
  tests/fixtures/cc-payloads/UserPromptSubmit.json
  tests/test_verify_schema.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Fix and update test fixtures
  src/redaction_hooks/hooks.py
  src/redaction_hooks/verify_schema.py
  tests/fixtures/cc-payloads/InstructionsLoaded.json
  tests/fixtures/cc-payloads/PostToolUse-Agent.json
  tests/fixtures/cc-payloads/PostToolUse-Bash.json
  tests/fixtures/cc-payloads/PostToolUse-Edit.json
  tests/fixtures/cc-payloads/PostToolUse-Glob.json
  tests/fixtures/cc-payloads/PostToolUse-Grep.json
  tests/fixtures/cc-payloads/PostToolUse-Read.json
  tests/fixtures/cc-payloads/PostToolUse-Write.json
  tests/fixtures/cc-payloads/PostToolUseFailure-Bash.json
  tests/fixtures/cc-payloads/PreToolUse-Agent.json
  tests/fixtures/cc-payloads/PreToolUse-Bash.json
  tests/fixtures/cc-payloads/PreToolUse-Edit.json
  tests/fixtures/cc-payloads/PreToolUse-Glob.json
  tests/fixtures/cc-payloads/PreToolUse-Grep.json
  tests/fixtures/cc-payloads/PreToolUse-Read.json
  tests/fixtures/cc-payloads/PreToolUse-Write.json
  tests/fixtures/cc-payloads/Stop.json
  tests/fixtures/cc-payloads/SubagentStop.json
  tests/fixtures/cc-payloads/UserPromptSubmit.json
  tests/test_extractor_fixtures.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Make test suite more robust
  tests/test_extractor_fixtures.py
Due: ruff, ruff-format, mypy, basedpyright

Bump __version__ to 0.2.0 to match pyproject
  src/redaction_hooks/__init__.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Audit redact-action matches as redact-skipped when handler can't rewrite
  src/redaction_hooks/hooks.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Recurse into '<shell> -c <inner>' when extracting Bash paths
  src/redaction_hooks/hooks.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Document that secret add re-serializes rules via yaml.dump
  README.md
Due: secrets-check

Expose action/target/hash-extractor/replacement on 'secret add'
  CLAUDE.md
  README.md
  src/redaction_hooks/cli.py
  src/redaction_hooks/config.py
  tests/test_cli.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Document the threat model for hashed secrets
  README.md
Due: secrets-check

Default 'redact hook' project_dir to cwd when CLAUDE_PROJECT_DIR unset
  src/redaction_hooks/cli.py
  tests/test_cli.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Underscore unused signal handler args to silence vulture
  src/redaction_hooks/matcher.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Split hooks.py into handlers/ + extractors.py + drift.py
  src/redaction_hooks/drift.py
  src/redaction_hooks/extractors.py
  src/redaction_hooks/handlers/__init__.py
  src/redaction_hooks/handlers/_common.py
  src/redaction_hooks/handlers/compact.py
  src/redaction_hooks/handlers/instructions_loaded.py
  src/redaction_hooks/handlers/post_tool_use.py
  src/redaction_hooks/handlers/post_tool_use_failure.py
  src/redaction_hooks/handlers/pre_tool_use.py
  src/redaction_hooks/handlers/stop.py
  src/redaction_hooks/handlers/user_prompt_submit.py
  src/redaction_hooks/hooks.py
  src/redaction_hooks/verify_schema.py
  tests/test_extractor_fixtures.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Derive __version__ from importlib.metadata so pyproject is the single source
  src/redaction_hooks/__init__.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Bump to 0.3.0; add release notes for the redact-skipped/bash-c/CLI batch
  README.md
  pyproject.toml
  uv.lock
Due: secrets-check

Add build_decision_block_response helper for top-level decision:block events
  src/redaction_hooks/handlers/_common.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Halt the session on a blocking match (PreToolUse, UserPromptSubmit, PreCompact)
  src/redaction_hooks/handlers/compact.py
  src/redaction_hooks/handlers/post_tool_use.py
  src/redaction_hooks/handlers/pre_tool_use.py
  src/redaction_hooks/handlers/user_prompt_submit.py
  tests/test_cli.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Cover UserPromptExpansion and PostToolBatch
  CLAUDE.md
  src/redaction_hooks/cli.py
  src/redaction_hooks/handlers/__init__.py
  src/redaction_hooks/handlers/post_tool_batch.py
  src/redaction_hooks/handlers/user_prompt_expansion.py
  src/redaction_hooks/verify_schema.py
  tests/fixtures/cc-payloads/PostToolBatch.json
  tests/test_extractor_fixtures.py
  tests/test_hooks.py
Due: ruff, ruff-format, mypy, basedpyright, secrets-check

Split off CHANGELOG.md + bump to 0.4.0
  .gitignore
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: secrets-check

Clarify README.md
  README.md
Due: secrets-check

More & better examples for rule file
  .redaction_rules.example
Due: none
